<div class="escena-container">
  <div *ngFor="let step of steps; let i = index">
    <div *ngIf="i === currentStep" @slideInOut class="card">
      <div class="card-header text-center" [ngStyle]="{ 'background-color': step.bgColor }">
        <img [src]="step.img" class="card-img-top img-fluid">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">{{ step.title }}</h4>
        <p class="card-text">{{ step.description }}</p>
      </div>
    
      <div class="button-container">
        <button *ngIf="currentStep > 0" (click)="prevStep()" class="round-button">←</button>
        <button *ngIf="currentStep < steps.length - 1" (click)="nextStep()" class="round-button">→</button>
      </div>
 
      <div class="indicator-container mb-5 ms-2">
        <span *ngFor="let puntito of steps; let j = index"
              class="indicator"
              [ngClass]="{ 'active': j === currentStep }"
              (click)="goToStep(j)">
        </span>
      </div>
    </div>
  </div>
</div>
